
      .main-loader {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        z-index: 9999;
        opacity: 1;
        transition: 0.3s all ease 0.3s;
      }

      .loaded .main-loader {
        opacity: 0;
        pointer-events: none;
      }

      .main-loader .fab-loader-initial {
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .progress-bar-init {
        height: 4px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999999;
        opacity: 1;
        transition: 0.2s all ease 0.4s;
      }

      .loaded .progress-container {
        opacity: 0;
        pointer-events: none;
      }

      .progress-bar-init .progress-container {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        display: inline-block;
        margin: auto;
        width: 100%;
        height: 4px;
      }

      .progress-bar-init .progress-container:after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #eee;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .progress-bar-init .progress-fill {
        animation: load 1s ease 0s forwards;
        transition: 0.2s all ease;
        background-color: #742fc2;
        background-image: linear-gradient(1deg, #742fc2 0, #ec2cd5 99%);
        height: 100%;
        width: 0;
      }

      .loaded .progress-fill {
        animation: loaded 0.2s ease-in 0s forwards;
      }

      @keyframes load {
        0% {
          width: 0;
        }
        12% {
          width: 50%;
        }
        50% {
          width: 60%;
        }
        50% {
          width: 70%;
        }
        50% {
          width: 80%;
        }
        98% {
          width: 85%;
        }
      }

      @keyframes loaded {
        0% {
          width: 85%;
        }
        100% {
          width: 100%;
        }
      }
    