@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    display: flex;
}

body section {
    display: grid;
    align-items: center;
    justify-items: center;
}

#logo {
    background-image: url('./logo.svg');
    width: 285px;
    height: 47px;
}

#app-box {
    opacity: 0;
    animation: fadeIn 400ms forwards, slideUp 400ms forwards;
    vertical-align: center;
}

body section h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

#social-login div {
    border: 1px black solid;
    padding: 0 30px;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}