body section {
    display: grid;
    align-items: center;
    justify-items: center;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        bottom: 0;
    }
    to{

    }
}