body section {
    display: grid;
    align-items: center;
    justify-items: center;
}

#app-box {
    animation: fadeIn 0.2s linear 0 1 forwards forwards;
    animation: slideUp 0.2s linear 0 1 forwards forwards;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}